main{
    width: 90%;
    overflow: hidden;
    margin: 0px 5%;
    height: 100vh;
    h1{
        font-family: 'Cormorant Garamond', serif;
        text-transform: uppercase;
        font-size: 200px;
    }
    .grid{
        display: flex;
        height: 100vh;
        .grid-1{
            height: 100vh;
            border-left: 1px solid silver;
            text-align: center;
            width: calc(100% / 5);
            position: relative;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:last-child{
                border-right: 1px solid silver;
            }
            img{
                margin-top: 100%;
                width: 50%;
                transition: all .3s ease-in-out;
                position: relative;
                z-index: 9;
            }
            h1{
                top: 130%;
                width: 80vw;
                left: 45.7%;
                text-align: right;
                position: absolute;
                transform: translateX(-50%) rotate(-90deg);
                transition: all .3s ease-in-out;
            }
            &:first-child{
                &:hover{
                    background-color: #FF9D4C;
                    img{
                        margin-top: 10%;
                        width: 50%;
                    }
                    h1{
                        top: 95%;
                        width: 80vw;
                        text-align: right;
                        position: absolute;
                        transform: translateX(-50%) rotate(-90deg);
                        color: #fff;
                    }
                }
                h1{
                    color: #FF9D4C;
                }
            }
            &:nth-child(2){
                &:hover{
                    background-color: #53A954;
                    img{
                        margin-top: 10%;
                        width: 50%;
                    }
                    h1{
                        top: 95%;
                        width: 80vw;
                        text-align: right;
                        position: absolute;
                        transform: translateX(-50%) rotate(-90deg);
                        color: #fff;
                    }
                }
                h1{
                    color: #53A954;
                }
            }
        }
    }
}